@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
*, html {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden; }

body {
  font-family: Arial, Helvetica, sans-serif;
  position: relative; }

.nav {
  background-color: #20a4f3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  height: 10vh; }
  .nav__logo {
    font-family: 'Monoton', cursive;
    transform: scale(2);
    margin-top: .9rem; }
  .nav__card {
    display: flex; }
    .nav__card__logo-names {
      height: 10vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
    .nav__card p {
      margin-left: 2rem;
      font-size: 1.7rem; }
  .nav__links {
    display: flex; }
    .nav__links li {
      list-style-type: none;
      margin: 2rem;
      font-size: 4rem;
      transition: all .1s;
      padding: 1rem; }
      .nav__links li:hover, .nav__links li:active {
        border-bottom: white solid 3px; }
    .nav__links a {
      color: white;
      text-decoration: none; }
  .nav__hire {
    background-color: #216f9c94; }

.landing-page {
  background-color: #20a4f3;
  color: white;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; }
  .landing-page__headings {
    margin-top: -20rem; }
  .landing-page h1 {
    font-size: 5rem; }
    @media (max-width: 992px) {
      .landing-page h1 {
        font-size: 3rem; } }
  .landing-page h2 {
    font-size: 3rem; }
  .landing-page .view {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10rem;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .landing-page .view i {
      font-size: 5rem;
      margin-top: 2rem;
      color: white; }

.projects__header {
  font-size: 3rem;
  text-align: center;
  margin: 5rem 0; }

.projects__div {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  color: white;
  font-size: 3rem; }

.projects__container {
  background-color: #20a4f3;
  height: 350px;
  min-width: 350px;
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: .5rem;
  margin: 4rem 4rem; }
  @media (max-width: 992px) {
    .projects__container {
      height: 250px;
      min-width: 250px; } }

.toggler {
  height: 5rem;
  width: 5rem;
  margin: 2rem;
  position: relative;
  display: none; }
  .toggler__checkbox {
    cursor: pointer;
    height: 5rem;
    width: 5rem;
    opacity: 0;
    z-index: 400000;
    position: relative; }
  .toggler__checkbox:checked + div {
    background-color: #20a4f3; }
  .toggler__checkbox:checked + div::before {
    transform: rotate(45deg); }
  .toggler__checkbox:checked + div::after {
    transform: rotate(-45deg); }
  .toggler__line {
    height: 1rem;
    width: 5rem;
    border-radius: 10px;
    background-color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    transition: all .2s; }
    .toggler__line::before, .toggler__line::after {
      content: " ";
      position: absolute;
      height: 1rem;
      width: 5rem;
      transform: translateY(2rem);
      background-color: white;
      border-radius: 10px;
      transition: all .2s; }
    .toggler__line::before {
      transform: translateY(-2rem); }

.modal {
  width: 25vw;
  height: 60vh;
  left: 50%;
  top: 50%;
  display: none;
  transform: translate(-50%, -50%);
  background-color: #f0f0f0;
  position: fixed;
  border-radius: .2rem;
  transition: all .4s;
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.3); }
  .modal__headings {
    margin: 2rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  .modal h2 {
    font-size: 2.5rem;
    text-align: center; }
  .modal i {
    font-size: 2.4rem;
    position: absolute;
    left: 1rem;
    cursor: pointer; }
  .modal__inputs {
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    margin: 3rem; }
  .modal label {
    margin-bottom: .4rem; }
  .modal label:focus {
    background-color: #20a4f3; }
  .modal input {
    margin-bottom: 1rem; }
  .modal#message {
    height: 200px; }
  .modal__send {
    background-color: #20a4f3;
    color: white;
    width: 50%;
    margin: auto;
    margin-top: 2rem;
    height: 4rem; }
  .modal__send:hover, .modal__send:active {
    background-color: #2080b8; }
