// .toggler {
//     height: 5rem;
//     width: 5rem;
//     margin: 2rem;
//     position: relative;

//     &__checkbox {
//         cursor: pointer;
//         height: 5rem;
//         width: 5rem;
//         opacity: 0;
//         z-index: 400000;
//         position: relative;
//     }

//     &__checkbox:checked + div {
//         background-color: #20a4f3;
//     }

//     &__checkbox:checked + div::before {
//         transform: rotate(45deg);
//     }

//     &__checkbox:checked + div::after {
//         transform: rotate(-45deg);
//     }


//     &__line {
//         height: 1rem;
//         width: 5rem;
//         border-radius: 10px;
//         background-color: white;
//         position: absolute;
//         top: 50%;
//         transform: translateY(-50%);
//         position: absolute;
//         transition: all .2s;

//         &::before,
//         &::after {
//             content: " ";
//             position: absolute;
//             height: 1rem;
//             width: 5rem;
//             transform: translateY(2rem);
//             background-color: white;
//             border-radius: 10px;
//             transition: all .2s;
//         }

//         &::before {
//             transform: translateY(-2rem);
//         }
//     }
// }


// .toggler {
//     width: 5rem;
//     height: 5rem;
//     background-color: beige;
//     margin: 2rem;
//     position: relative;

//     &__checkbox {
//         width: 5rem;
//         height: 5rem;
//         position: absolute;
//         z-index: 30;
//         opacity: 0;
//         cursor: pointer;
//     }

//     &__lines {
//         width: 5rem;
//         height: 5rem;
//         position: absolute;
//         background-color: orange;
//     }

//     &__line {
//         position: absolute;
//         width: 5rem;
//         height: 1rem;
//         background-color: white;
//         transform: translateY(2rem);

//         &::before,
//         &::after {
//             content: " ";
//             position: absolute;
//             background-color: white;
//             width: 5rem;
//             height: 1rem;
//             transform: translateY(-2rem);
//         }
//     }
// }


.hamburger {
    height: 5rem;
    width: 5rem;
    background-color: green;
    margin: 2rem;
    position: relative;

    &__checkbox {
        height: 5rem;
        width: 5rem;
        // opacity: 0;
        cursor: pointer;
    }

    &__line {
        height: 1rem;
        width: 5rem;
        background-color: orange;
        
        // position: absolute;
        z-index: 3;
        display: inline-block;
        position: absolute;
        right: 1.5rem;
        top: 3.5rem;

        &::before,
        &::after {
            content: " ";
            position: absolute;
            height: 1rem;
            width: 5rem;
            background-color: orange;
            transform: translateY(2rem);
            z-index: 3;
            display: inline-block;
        }
        
    }
}

