@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

.nav {
    background-color: #20a4f3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:white;
    height: 10vh;
    z-index: -3;

    &__logo {
        font-family: 'Monoton', cursive;
        transform: scale(2);
        margin-top: .9rem;
       
    }

    &__card {
        display: flex;



        &__logo-names {
            height: 10vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        & p {
            margin-left: 2rem;
            font-size: 1.7rem;
        } 
    }

    &__links {
        display: flex;

        @include phone {
            display: none;
        }

        & li {
            list-style-type: none;
            margin: 2rem;
            font-size: 4rem;
            transition: all .1s;
            padding: 1rem;
            transition: all .2s;

            &:hover,
            &:active {
                border-bottom: white solid 3px;
            }
        }

        & a {
            color: white;
            text-decoration: none;
        }
    }

    &__hire {
        background-color:#216f9c94;
    }

}

