.nav {
    background-color: #20a4f3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:white;
    height: 10vh;

    &__card {
        display: flex;

        &__logo-names {
            height: 10vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        & p {
            margin-left: 2rem;
            font-size: 1.7rem;
        }
        
    }

    &__links {
        display: flex;

        & li {
            list-style-type: none;
            margin: 2rem;
            font-size: 4rem;
            transition: all .1s;

            &:hover,
            &:active {
                border-bottom: white solid 3px;
            }
        }

        & a {
            color: white;
            text-decoration: none;
        }

        &:last-child {
            background-color: #20a6f37a !important
        }
    }

}

